<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contacts</title>
</head>
<body>

<p th:text="${'Name: ' +contact.getName()}">VALUE</p>
<p th:text="${'Phone number: ' + contact.getPhoneNumber()}">VALUE</p>
<p th:text="${'Email: ' + contact.getEmail()}">VALUE</p>

<a th:href="@{/contacts/{id}/edit(id=${contact.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/contacts/{id}(id=${contact.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>